megfile==4.2.1
webdataset==1.0.2
pandas==2.3.1
natsort==8.4.0
transformers==4.41.2
insightface==0.7.3
onnxruntime==1.18.0
supervision==0.6.0
groundingdino-py==0.4.0
facexlib==0.3.0
openpyxl==3.1.2
numpy<2.0.0,>=1.23.5
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
huggingface-hub==0.34.4
gdown==5.2.0
dotenv